@namespace MediaHub.View

<div class="RatingStarWrapper">
@{
 for (byte i = RatingMinimum; i <= RatingMaximum; i++)
 {
     byte j = i;
     @if (j <= CurrentValue)
     {
         <img width="@StarSize" src="star-yellow.png" @onclick="() => OnChangeRating(j)"/>
     }
     else
     {
         <img width="@StarSize" src="star-black.png" @onclick="() => OnChangeRating(j)"/>
     }
 }   
}
</div>

@code {

    [Parameter]
    public string StarSize { get; set; } = "30px";
    [Parameter]
    public byte RatingMinimum { get; set; } = 1;
    [Parameter]
    public byte RatingMaximum { get; set; } = 10;
    [Parameter]
    public byte CurrentValue { get; set; } = 1;

    [Parameter]
    public bool ReadOnly { get; set; } = false;
    
    [Parameter]
    public Action<byte> Callback { get; set; } = (byte i) => { };
    
    private void OnChangeRating(byte value)
    {
        if (!ReadOnly)
        {
            CurrentValue = value;
        }
        Callback(value);
    }
}