/MediaHub/.idea/
/MediaHub/.vs/
/MediaHub/*/bin/
/MediaHub/*/obj/
/MediaHub/obj/
/MediaHub/bin/
MediaHub/MediaHub/MediaHub.csproj.user
MediaHub/MediaHub.sln.DotSettings.user
/MediaHub/MediaHub.sln.DotSettings.user
MediaHub/MediaHub.Test/coverage.cobertura.xml
MediaHub/MediaHub.Test/coveragereport/
nfr-testing/node_modules/