<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage/Email">Account</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Authentication">Authenticate</a>
    </NotAuthorized>
</AuthorizeView>
