@using MediaHub.Services
@inherits LayoutComponentBase
@inject IdentityService _identityService
@inject NavigationManager _navigationManager

<PageTitle>MediaHub</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar" id="mySidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>

                <article class="content px-4">
                @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page">
            <main>
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>
            </main>
        </div>
        <!--@NavigateToLogin()-->
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _identityService.AuthenticationState = await AuthenticationState;
    }
    
    private bool NavigateToLogin()
    {
        _navigationManager.NavigateTo("Identity/Account/Authentication");
        return true;
    }
}
