@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello there, @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <div><img src="logo_light.png" /></div>

        <h1>Meet, share, exchange!</h1>
        <h2>Meet people with similar Book or Movie preferences, share your opinion and exchange with others!</h2>
    </NotAuthorized>
</AuthorizeView>