@page "/userProfile/{Username?}"

@using MediaHub.Data.MediaModule.Model
@using MediaHub.Data.MediaModule.ViewModel
@using MediaHub.Data.ProfileModule.ViewModel
@using MediaHub.Services
@using MediaHub.View
@using MediaHub.Data.FeedModule.ViewModel

@inject IUserProfileViewModel _userProfileServiceInstance
@inject IIdentityService _identityServiceInstance
@inject IMediaSearchViewModel _mediaSearchViewModel
@inject IMediaTableViewModel _mediaTableViewModel
@inject NavigationManager _navigationManager

@if (_userProfile == null)
{
    <h3>Unknown profile</h3>
    <p>User with the username '@Username' was not found.</p>
}
else
{
    <div class="userProfileOverview">
        <div class="profile-page-heading">
            @if(Username == null)
            {
                <NavLink href="editUserProfile" ><button class="btn btn-secondary oi oi-pencil"/></NavLink>
            }
            <h1 class="page-heading">@_userProfile.Username's profile</h1>
        </div>
        <img src="@_userProfile.ProfilePicture" alt="No profile picture set..."/>
        <div class="biography">
            <h3>Biography</h3>
            <p>@_userProfile.Biography</p>
        </div>
        <h2>Media added to profile:</h2>
        <div class="addedMovies">
            <MediaTable DisplayUserRatings="true" ShowReleaseDate="false" MoviesAndRatings="_moviesAndRatings" AlternativeText="There is currently no media added to this profile"/>
        </div>  
    </div>
}

@code {
    private Data.ProfileModule.Model.UserProfile? _userProfile;
    private List<Movie> _media = new List<Movie>();
    private IEnumerable<MediaRating> _userRatings;
    private IEnumerable<IMediaTableViewModel.MovieAndRating>? _moviesAndRatings;

    [Parameter]
    public string? Username { get; set; }

    protected override void OnInitialized()
    {
        string userId;
        if(Username == null)
        {
            userId = _identityServiceInstance.UserId;
            _userProfile = _userProfileServiceInstance.GetUserProfileById(userId);
        }
        else
        {
            _userProfile = _userProfileServiceInstance.GetUserProfileByUsername(Username);
            userId = _userProfile==null?null:_userProfile.UserId;
        }
        _moviesAndRatings = _mediaTableViewModel.GetMoviesOfUserProfileByUserIdAsync(userId);
    }
}
