@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</p>
<a href="/"><button class="btn btn-secondary oi oi-arrow-thick-left"> Back to login</button> </a> 