@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</p>

<button onclick="location.href='./'" type="button" class="btn btn-primary navBackButton"><span class="oi oi-arrow-thick-left" aria-hidden="true"></span> Back to Login</button>