@page
@using MediaHub.Data.PersistencyLayer
@using MediaHub.Data.ProfileModule.ViewModel
@using MediaHub.Services
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Please check your email to confirm your account.</p>
    
<button onclick="location.href='./'" type="button" class="navBackButton btn btn-primary"><span class="oi oi-arrow-thick-left" aria-hidden="true"></span> Back to Login</button>


